//**********************************************响应式布局**********************************************
$home-item-spacing: dynamic(20px);

.row{
    padding:0px 20px 20px 0px;
}

.col-lg-20,.col-lg-19,.col-lg-18,.col-lg-17,.col-lg-16,.col-lg-15,.col-lg-14,.col-lg-13,.col-lg-12,.col-lg-11,.col-lg-10,.col-lg-9,.col-lg-8,.col-lg-7,.col-lg-6,.col-lg-5,.col-lg-4,.col-lg-3,.col-lg-2,.col-lg-1,
.col-md-20,.col-md-19,.col-md-18,.col-md-17,.col-md-16,.col-md-15,.col-md-14,.col-md-13,.col-md-12,.col-md-11,.col-md-10,.col-md-9,.col-md-8,.col-md-7,.col-md-6,.col-md-5,.col-md-4,.col-md-3,.col-md-2,.col-md-1,
.col-sm-20,.col-sm-19,.col-sm-18,.col-sm-17,.col-sm-16,.col-sm-15,.col-sm-14,.col-sm-13,.col-sm-12,.col-sm-11,.col-sm-10,.col-sm-9,.col-sm-8,.col-sm-7,.col-sm-6,.col-sm-5,.col-sm-4,.col-sm-3,.col-sm-2,.col-sm-1,
.col-xs-20,.col-xs-19,.col-xs-18,.col-xs-17,.col-xs-16,.col-xs-15,.col-xs-14,.col-xs-13,.col-xs-12,.col-xs-11,.col-xs-10,.col-xs-9,.col-xs-8,.col-xs-7,.col-xs-6,.col-xs-5,.col-xs-4,.col-xs-3,.col-xs-2,.col-xs-1{
    float: left;
    margin: 19px 0px 0px 19px;
}

.col-xs-20 {
    width: calc(100% - #{$home-item-spacing});
}
.col-xs-19 {
    width: calc(95% - #{$home-item-spacing});
}
.col-xs-18 {
    width: calc(90% - #{$home-item-spacing});
}
.col-xs-17 {
    width: calc(85% - #{$home-item-spacing});
}
.col-xs-16 {
    width: calc(80% - #{$home-item-spacing});
}
.col-xs-15 {
    width: calc(75% - #{$home-item-spacing});
}
.col-xs-14 {
    width: calc(70% - #{$home-item-spacing});
}
.col-xs-13 {
    width: calc(65% - #{$home-item-spacing});
}
.col-xs-12 {
    width: calc(60% - #{$home-item-spacing});
}
.col-xs-11 {
    width: calc(55% - #{$home-item-spacing});
}
.col-xs-10 {
    width: calc(50% - #{$home-item-spacing});
}
.col-xs-9 {
    width: calc(45% - #{$home-item-spacing});
}
.col-xs-8 {
    width: calc(40% - #{$home-item-spacing});
}
.col-xs-7 {
    width: calc(35% - #{$home-item-spacing});
}
.col-xs-6 {
    width: calc(30% - #{$home-item-spacing});
}
.col-xs-5 {
    width: calc(25% - #{$home-item-spacing});
}
.col-xs-4 {
    width: calc(20% - #{$home-item-spacing});
}
.col-xs-3 {
    width: calc(15% - #{$home-item-spacing});
}
.col-xs-2 {
    width: calc(10% - #{$home-item-spacing});
}
.col-xs-1 {
    width: calc(5% - #{$home-item-spacing});
}

@media (min-width: 768px) {
    .col-sm-20 {
        width: calc(100% - #{$home-item-spacing});
    }
    .col-sm-19 {
        width: calc(95% - #{$home-item-spacing});
    }
    .col-sm-18 {
        width: calc(90% - #{$home-item-spacing});
    }
    .col-sm-17 {
        width: calc(85% - #{$home-item-spacing});
    }
    .col-sm-16 {
        width: calc(80% - #{$home-item-spacing});
    }
    .col-sm-15 {
        width: calc(75% - #{$home-item-spacing});
    }
    .col-sm-14 {
        width: calc(70% - #{$home-item-spacing});
    }
    .col-sm-13 {
        width: calc(65% - #{$home-item-spacing});
    }
    .col-sm-12 {
        width: calc(60% - #{$home-item-spacing});
    }
    .col-sm-11 {
        width: calc(55% - #{$home-item-spacing});
    }
    .col-sm-10 {
        width: calc(50% - #{$home-item-spacing});
    }
    .col-sm-9 {
        width: calc(45% - #{$home-item-spacing});
    }
    .col-sm-8 {
        width: calc(40% - #{$home-item-spacing});
    }
    .col-sm-7 {
        width: calc(35% - #{$home-item-spacing});
    }
    .col-sm-6 {
        width: calc(30% - #{$home-item-spacing});
    }
    .col-sm-5 {
        width: calc(25% - #{$home-item-spacing});
    }
    .col-sm-4 {
        width: calc(20% - #{$home-item-spacing});
    }
    .col-sm-3 {
        width: calc(15% - #{$home-item-spacing});
    }
    .col-sm-2 {
        width: calc(10% - #{$home-item-spacing});
    }
    .col-sm-1 {
        width: calc(5% - #{$home-item-spacing});
    }
}

@media (min-width: 992px) {
    .col-md-20 {
        width: calc(100% - #{$home-item-spacing});
    }
    .col-md-19 {
        width: calc(95% - #{$home-item-spacing});
    }
    .col-md-18 {
        width: calc(90% - #{$home-item-spacing});
    }
    .col-md-17 {
        width: calc(85% - #{$home-item-spacing});
    }
    .col-md-16 {
        width: calc(80% - #{$home-item-spacing});
    }
    .col-md-15 {
        width: calc(75% - #{$home-item-spacing});
    }
    .col-md-14 {
        width: calc(70% - #{$home-item-spacing});
    }
    .col-md-13 {
        width: calc(65% - #{$home-item-spacing});
    }
    .col-md-12 {
        width: calc(60% - #{$home-item-spacing});
    }
    .col-md-11 {
        width: calc(55% - #{$home-item-spacing});
    }
    .col-md-10 {
        width: calc(50% - #{$home-item-spacing});
    }
    .col-md-9 {
        width: calc(45% - #{$home-item-spacing});
    }
    .col-md-8 {
        width: calc(40% - #{$home-item-spacing});
    }
    .col-md-7 {
        width: calc(35% - #{$home-item-spacing});
    }
    .col-md-6 {
        width: calc(30% - #{$home-item-spacing});
    }
    .col-md-5 {
        width: calc(25% - #{$home-item-spacing});
    }
    .col-md-4 {
        width: calc(20% - #{$home-item-spacing});
    }
    .col-md-3 {
        width: calc(15% - #{$home-item-spacing});
    }
    .col-md-2 {
        width: calc(10% - #{$home-item-spacing});
    }
    .col-md-1 {
        width: calc(5% - #{$home-item-spacing});
    }
}

@media (min-width: 1200px) {
    .col-lg-20 {
        width: calc(100% - #{$home-item-spacing});
    }
    .col-lg-19 {
        width: calc(95% - #{$home-item-spacing});
    }
    .col-lg-18 {
        width: calc(90% - #{$home-item-spacing});
    }
    .col-lg-17 {
        width: calc(85% - #{$home-item-spacing});
    }
    .col-lg-16 {
        width: calc(80% - #{$home-item-spacing});
    }
    .col-lg-15 {
        width: calc(75% - #{$home-item-spacing});
    }
    .col-lg-14 {
        width: calc(70% - #{$home-item-spacing});
    }
    .col-lg-13 {
        width: calc(65% - #{$home-item-spacing});
    }
    .col-lg-12 {
        width: calc(60% - #{$home-item-spacing});
    }
    .col-lg-11 {
        width: calc(55% - #{$home-item-spacing});
    }
    .col-lg-10 {
        width: calc(50% - #{$home-item-spacing});
    }
    .col-lg-9 {
        width: calc(45% - #{$home-item-spacing});
    }
    .col-lg-8 {
        width: calc(40% - #{$home-item-spacing});
    }
    .col-lg-7 {
        width: calc(35% - #{$home-item-spacing});
    }
    .col-lg-6 {
        width: calc(30% - #{$home-item-spacing});
    }
    .col-lg-5 {
        width: calc(25% - #{$home-item-spacing});
    }
    .col-lg-4 {
        width: calc(20% - #{$home-item-spacing});
    }
    .col-lg-3 {
        width: calc(15% - #{$home-item-spacing});
    }
    .col-lg-2 {
        width: calc(10% - #{$home-item-spacing});
    }
    .col-lg-1 {
        width: calc(5% - #{$home-item-spacing});
    }
}
