.authentication-lockscreen{

    .x-dialog-body-el {
        background-image: url('images/authentication/lock-screen-background.jpg');
        background-size: cover;
        color:#fff;
    }

    .form-backgroundcolor{
        background-color: rgba(255, 255, 255, 0.3);
    }

    .form-title{
        line-height: 50px;
        text-align: center;
        font-size: 20px;
        color: #111;
    }
    .form-content{
        padding: 30px 30px;
        .x-formpanel-body-el{
            background: transparent;
        }
    }
    .link-forgot-password{
        color: $base-color;
    }
}
