
@include button-ui(
    $ui:"success",
    $color: #fff,
    $icon-color : #fff,
    $background-color:#47a447
);

@include button-ui(
    $ui:"warning",
    $color: #fff,
    $icon-color : #fff,
    $background-color:#f0ad4e
);

@include button-ui(
    $ui:"danger",
    $color: #fff,
    $icon-color : #fff,
    $background-color:#d9534f
);

@include button-ui(
    $ui:"success-small",
    $icon-size :12px,
    $font-size : 10px,
    $padding:5px 5px,
    $color: #fff,
    $icon-color : #fff,
    $background-color:#47a447
);

@include button-ui(
    $ui:"danger-small",
    $icon-size :12px,
    $font-size : 10px,
    $padding:5px 5px,
    $color: #fff,
    $icon-color : #fff,
    $background-color:#d9534f
);

@include progress-ui(
    $ui:"success",
    $bar-background-color : #47a447,
    $background-color:#aeccae,
    $front-color :$color
);

@include progress-ui(
    $ui:"danger",
    $bar-background-color:#d9534f,
    $background-color:#e2bab8,
    $front-color :$color
)